     
{{#each workouts}}
    <div class="row">
        <div onclick="location.href='/search/:{{this.dataValues.title}}'" style="cursor: pointer;" class="col-sm-12">
            {{!-- <img  src="{{this.dataValues.img_or_video}}" alt='workouts'> --}}
            <div id="img" style="background-image: ('{{this.dataValues.img_or_video}}');"></div>
            <h1>
                {{this.dataValues.title}}
            </h1>
        </div>
    </div>
    {{/each}}

        </div>
         </div>
    